name: Deploy Nginx to k3s

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to k3s
        run: |
          sudo /usr/local/bin/k3s kubectl apply -f k8s/nginx.yaml
